.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.content {
    background-color: #CB81FF;
    border-radius: 40px;
    padding: 0px 0px 0px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 0;
}

.leftSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex: 1;
    flex-wrap: wrap;
    min-width: 0;
}

.fileName,
.date,
.success,
.error,
.dimmed {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-start;
}

.fileName {
    font-weight: 500;
    color: #2d0a5e;
    font-size: 23px;
}

.date {
    font-size: 23px;
    font-weight: 500;
    color: #2d0a5e;
}

.success {
    color: #201B10;
}

.error {
    color: #201B10;
}

.dimmed {
    opacity: 0.5;
    color: #8F64AE;
}

.removeButton {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
    margin-left: 16px;
    background-color: #FFFFFF;
}
